<div class="container-fluid h-100 vh-100 min-vh-100">
  <div class="row text-center min-vh-100">

    <div class="col-7 d-flex justify-content-end align-items-end" style="background-image: url('https://mediaim.expedia.com/destination/1/8a624305a5c3fe9c162a2fae174007f5.jpg'); background-size: cover; background-position: center;">
      <div class="col-2 w-50 p-3">
        <p class="fw-bold text-white mb-0" style="font-size: 4rem;">Montería</p>
        <div class="d-flex flex-row">
          <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#fff" class="bi bi-thermometer-high" viewBox="0 0 16 16">
              <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585a1.5 1.5 0 0 1 1 1.415"/>
              <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1"/>
            </svg>
          </div>
          <div class="col-10">
            <div class="d-flex flex-row">
              <div>
                <p class="m-0 fs-5 text-white fw-medium text-start">Temperatura</p>
                <p class="m-0 fs-6 text-white fw-normal">Max. 33°C / Min. 27°C</p>
              </div>
              <div class="vr mx-2 text-white border-3"></div>
              <div class="align-items-center">
                <div class="col fs-5 fw-medium text-white">Altitud</div>
                <p class="m-0 fs-6 fw-normal text-white">27 MSNM</p>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row">
          <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#fff" class="bi bi-airplane-fill" viewBox="0 0 16 16">
              <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849"/>
            </svg>
          </div>
          <div class="col-10">
            <div class="d-flex flex-row">
              <div>
                <p class="m-0 fs-5 text-white fw-medium text-start">Aeropuerto Los Garzones</p>
                <p class="m-0 fs-6 text-white fw-normal text-start">10 Minutos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div class="row h-50 vh-50 min-vh-50">
        <div class="col-6 bg-gastronomy">
          <div id="carouselExampleIndicators" class="carousel slide h-100">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h5 class="card-title text-white fw-bold fs-1 mt-5 mb-2">Gastronomía</h5>
                  <ul>
                    <li class="text-white text-start">Mote de queso</li>
                    <li class="text-white text-start">Carne de res</li>
                    <li class="text-white text-start">Rosquitas</li>
                    <li class="text-white text-start">Chicharron</li>
                    <li class="text-white text-start">Suero</li>
                    <li class="text-white text-start">Cabeza e' gato</li>
                  </ul>
              </div>
              <div class="carousel-item">
                <p>Item 2</p>
              </div>
              <div class="carousel-item">
                <p>Item 3</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6" style="background-image: url('https://www.korraleja.co/2015/wp-content/uploads/2015/11/tumblr_nv215nrIMS1u8l6ypo1_500.jpg');"></div>
      </div>

      <div class="row h-50 vh-50 min-vh-50 p-5">
        <div class="card mb-3 px-0 shadow-lg rounded border-0" style="max-width: 540px;">
          <div class="row g-0 h-100">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-gastronomy fw-bold fs-1">¿Que visitar?</h5>
                <ul>
                  <li class="text-gastronomy text-start">Ronda del Sinu</li>
                  <li class="text-gastronomy text-start">Catedral de Montería</li>
                  <li class="text-gastronomy text-start">Villa Olimpica</li>
                  <li class="text-gastronomy text-start">Centro cultural</li>
                  <li class="text-gastronomy text-start">Plaza Maria Varilla</li>
                  <li class="text-gastronomy text-start">Rio Sinu</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <img src="https://scontent.feoh12-1.fna.fbcdn.net/v/t1.6435-9/69510993_2429520223933962_6787149462805413888_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=dd63ad&_nc_ohc=sSUsUAFDvKoAX8YmLGq&_nc_ht=scontent.feoh12-1.fna&oh=00_AfB_qNvRYn0-s5dYG88AC7lQ53PCxk6BySQSzV_prBVCew&oe=6603376B" class="img-fluid rounded-end-2 h-100" alt="CATEDRAL">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>